<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dash</title>
    <!-- Compiled and minified CSS -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/imports/jquery-3.3.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/imports/materialize.min.css') }}">
    
    <!-- Compiled and minified JavaScript -->
    <script src="{{ url_for('static',filename='js/imports/materialize.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard_v2/newdash.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/dashboard_v2/newdash.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard_v2/popuplogin.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dashboard_v2/popuplogin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/magicopen.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/magicvis.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/imports/leaflet.css') }}"/>
		<!-- Make sure you put this AFTER Leaflet's CSS -->
		<script src="{{ url_for('static',filename='js/imports/leaflet.js') }}" ></script>
</head>
<body style="background:#d0d8d8;">
    <div class="desk_nav">
        
        <nav>
            <div class="nav-wrapper blue">
               
                <a href="#!" class="brand-logo">Dashboard</a>
                
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Dashboard</a></li>
                    <!-- <li><a href="#">Logout</a></li> -->
                    {% if logged_in%}
                    <li><button class="waves-effect waves-light btn" onclick="location.href='/logout'">Log Out</button></li>
                    {%else%}
                    <li><button data-target="loginform" class="btn modal-trigger" >Log In</button></li>
                    {%endif%}
                  </ul>
            </div>
        </nav>
    
        
    </div>
    <ul class="sidenav" id="mobile-demo">
            <li><a href="#">Create Notam</a></li>
            <li><button data-target="loginform" class="btn modal-trigger">Modal</button></li>
    </ul>
    

    
                
    </div>
    <div class = "container searchout z-depth-2">
    <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  
                  <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                  <label for="icon_prefix2">Search</label>
                </div>
              </div>
            </form>
    </div>
</div>
    <div class = "container z-depth-2">

            <ul class="collapsible">
                {% for notam in airspace %}
                    {% include 'dashboard_v2/_notamcard.html' %}
                {% endfor %}
                {% for notam in facility %}
                    {% include 'dashboard_v2/_notamcard.html' %}
                {% endfor %}
                <button class="edit_notam" onclick="edit_notam.js"></button>
                </ul>
    </div>

    <div id="loginform" class='modal'>   
        <div id="login">   
          <h1>Welcome Back!</h1>

          <form action="/verify_login" method="post">

            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off" name="email"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off" name="password"/>
          </div>
          
          <p class="forgot"><a href="#">Forgot Password?</a></p>
          
          <button type="submit" class="button button-block">Log In</button>
          </form>

        </div>
      
</div>



    <script src="{{ url_for('static', filename='js/dashboard_v2/newdash.js') }}"></script>
    <script  src="{{ url_for('static', filename='js/dashboard/open_vis.js') }}"></script>
    <script  src="{{ url_for('static', filename='js/dashboard/magicvis.js') }}"></script>
   
    <script src="{{ url_for('static', filename='js/imports/list.min.js') }}"></script>
    <script src = "check_login();"></script>
   
</body>
</html>