<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dash</title>
    <!-- Compiled and minified CSS -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/imports/jquery-3.3.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/imports/materialize.min.css') }}">
    
    <!-- Compiled and minified JavaScript -->
    <script src="{{ url_for('static',filename='js/imports/materialize.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard_v2/newdash.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/dashboard_v2/newdash.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard_v2/popuplogin.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dashboard_v2/popuplogin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/magicopen.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/magicvis.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/imports/leaflet.css') }}"/>
		<!-- Make sure you put this AFTER Leaflet's CSS -->
		<script src="{{ url_for('static',filename='js/imports/leaflet.js') }}" ></script>
</head>
<body style="background:#d0d8d8;">
    <div class="desk_nav">
        {% if logged_in %}
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="/admin_airspace">FIR</a></li>
                <li><a href="/admin_facility">Aerodrome</a></li>
            </ul>
        {% endif %}
        <nav>
            <div class="nav-wrapper blue">
               
                <a href="#!" class="brand-logo">Dashboard</a>
                
                <ul class="right hide-on-med-and-down">
                
                    {% if logged_in %}
                        <!-- Dropdown Trigger -->
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Select<i
                                    class="material-icons right">arrow_drop_down</i></a></li>
                    {% endif %}
                    <li><a href="/dashboard">Dashboard</a></li>
                    <!-- <li><a href="#">Logout</a></li> -->
                    {% if logged_in %}
                        <li><a onclick="location.href='/logout'">Log Out</a></li>
                    {% else %}
                        <li><a data-target="loginform" class="modal-trigger" >Log In</a></li>
                    {% endif %}
                 </ul>
            </div>
        </nav>
    
        
    </div>
    <ul class="sidenav" id="mobile-demo">
            <li><a href="#">Create Notam</a></li>
            <li><button data-target="loginform" class="btn modal-trigger">Modal</button></li>
    </ul>
    

    
                
    </div>
    <div id="forsort">
        <div class = "container searchout z-depth-2">
            <div class="row">
                    <form class="col s12">
                    <div class="row">
                        <div class=" col s12">
                        
                        <input class="search form-control" placeholder="Search" />
                        <div class="sort btn blue" data-sort="notamno">
                            Sort by Notam No.
                        </div>
                        <div class="sort btn blue" data-sort="get_status">
                            Sort by Status
                        </div>

                        </div>
                    </div>
                    </form>
            </div>
        </div>
        <div class = "container z-depth-2">
            <ul class="collapsible list">
                {% for notam in airspace %}
                    {% include 'dashboard_v2/_notamcard.html' %}
                {% endfor %}
                {% for notam in facility %}
                    {% include 'dashboard_v2/_notamcard.html' %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="loginform" class='modal'>   
        <div id="login">   
          <h4>Welcome Back!</h4>

          <form action="/verify_login" method="post">

            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off" name="email"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off" name="password"/>
          </div>
          
          <p class="forgot"><a href="#">Forgot Password?</a></p>
          
          <button type="submit" class="button button-block">Log In</button>
          </form>

        </div>
      
</div>



    <script src="{{ url_for('static', filename='js/dashboard_v2/newdash.js') }}"></script>
    <script  src="{{ url_for('static', filename='js/dashboard/open_vis.js') }}"></script>
    <script  src="{{ url_for('static', filename='js/dashboard/magicvis.js') }}"></script>
   
    <script src="{{ url_for('static', filename='js/imports/list.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard_v2/sort.js') }}"></script>

   
</body>
</html>