.series{
    font-size:2.2vw;
    color: #008;
}

.number{
    font-size: 1.3vw;
}

.clb{
    background: #fff;
}

.notamview{
   padding-top:0.5rem !important; 
   font-family: monospace;
   font-size: 1vw;
}

td{
    font-size:0.875vw !important;
}

.nav-wrapper{
    padding-left: 20px;
}

.dsd{
    width:100%;
}

.searchout{
    background: white;
    margin:auto;
    margin-top:10px;
    padding-top:10px;
}

.indicator-outer{
    padding-left:5px;
    padding-right: 5px;
    height: 300px;
}

.indicator{
    height: 100%;
    background: #ddd;
    width: 20%;
    margin:auto;

}

.gauge{
    background: #005;
    width:100%;
    position: relative;
    
}

#modalveri{
    padding: 20px;
    color: black;
}
#uptable{
    font-size: 0.875vw !important;
    margin-right: 0.5vw;
}

.green{
    font-size: 0.925vw !important;
}

.collapsible-header i{
    margin-right: 0px;
}