.series{
    font-size:3rem;
    color: #008;
}

.number{
    font-size: 3rem;
}

.clb{
    background: #fff;
}

.notamview{
   padding-top:0.5rem !important; 
   font-family: monospace;
}

td{
    font-size:1rem !important;
}

.nav-wrapper{
    padding-left: 20px;
}

.dsd{
    width:100%;
}

.searchout{
    background: white;
    margin:auto;
    margin-top:10px;
    padding-top:10px;
}

.indicator-outer{
    padding-left:5px;
    padding-right: 5px;
    height: 250px;
}

.indicator{
    height: 100%;
    background: #ddd;
    width: 20%;
    margin:auto;

}

.gauge{
    background: #005;
    width:100%;
    position: relative;
    
}