.form_notam{
    margin-top: 1vw;
    padding: 1vw;
    margin-bottom: 5vw; 
}
.row{
    margin-bottom: 0px;
}

.nav-wrapper{
    padding-left: 2vw;
}
.map{
    /* background: rgb(10, 39, 38);
    margin-left: 75%;
    width:300px;
     */
     background-color: rgb(77, 165, 161);
     height: 400px;
     
   }
#test-slider{
    position :relative;
    margin-left: 10%;
    width : 10px;

}
.content{
    transform: translateY(-200px);
}

