<div id="nmodal">
    <div id="closemodal">X</div>
    <div id ="modalcontents">
      <div id = "something">
        <div id="modalleft">
          <div id="class"><div class ="cdi">A<br/><span class ="small">CLASS</span></div></div>
          <div id="priority"><div class ="cdi">5<br/><span class ="small">CRITICAL</span></div></div>
          <div id="airport"><div class ="cdi">VABB<br/><span class ="small">MUMBAI CSIA</span></div></div>
          <div id="validity"><div class ="cdi">12:00<br/><span class ="small">3 MAR 19</spans></div></div>
        </div>
        <div id="modalright">
          
          <b>RAW NOTAM</b>
          <hr/>
            <p class="raw">
1A155/19
MON 0430-2359, TUE THU SAT 0000-0529 1131-2359, WED FRI H24
RWY 14/32 NOT AVBL FOR LDG/TKOF DUE WIP IN
ZONE 1 OF RWY 32 AT JUNCTION TWY E1/RWY 32
AND PRE THR AREA OF RWY 32.
EMERG RESTORATION TIME 03HR FM SUNRISE TO
SUNSET AND 04HR FM SUNSET TO SUNRISE.
            </p>

          <br/>
          <b>Simplified Text</b>
          <hr/>
          <p class="raw">
              1A155/19
              MON 0430-2359, TUE THU SAT 0000-0529 1131-2359, WED FRI 24 HOURS
              RUNWAY 14/32 NOT AVAILABLE FOR LANDING/TAKEOFF DUE TO WORK IN PROGRESS IN
              ZONE 1 OF RUNWAY 32 AT JUNCTION TAXIWAY E1/RUNWAY 32
              AND PREVIOUS THESHOLD AREA OF RUNWAY 32.
              EMERGENCY RESTORATION TIME 03HR FROM SUNRISE TO
              SUNSET AND 04 HR FROM SUNSET TO SUNRISE.
          </p>
          
         
      </div>
  </div>
</div> 
</div>