
<a href="#" class="list-group-item">

<div class="col-md-2">
    <div class="notam_no">
    <span class="notam_series">A</span>4132
    </div>
</div>
<div class="col-md-8">
    <span class="notam">A3191/18 NOTAMN
    Q) WMFC/QMPXX/IV/NBO/A /000/999/0244N10141E005
    A) WMKK B) 1810150101 C) PERM
    E) BAY A3 AND BAY B3 FOR TYP B737-800 AND BLW ONLY
</span>
</div>

<div class="col-md-2">
    <div class="expertise">
    <div class="read-more">
        <button type="button" class="btn btn-primary btn-more">Read More &nbsp; <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
    </div>
    <span class="expertise-label">Areas of Expertise &nbsp;</span>
    <p class="labels">
    <span class="label label-default expertise">Love</span>
    <span class="label label-default expertise">Spells</span>
    <span class="label label-default expertise">Magic</span>
    <span class="label label-default expertise">Alchemy</span>
    </p>
    </div>
</div>

<div class="clearfix"></div>
</a>