<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/admin.css') }}">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i'>
</head>
<body>
    
	<nav class="navbar sticky-top navbar-dark mygrad">
			<a class="navbar-brand" href="#">Kiteretsu</a>
			<button class="btn btn-warning my-2 my-sm-0">Logout</button>
    </nav>
    <div class="full-page-except-nav" class="row">
    <div class="sidenav bg-dark col-md-3">
			<ul>
				<li><button class="btn bg-success text-light my-sm-0 snli" data-toggle="modal" data-target=".bd-example-modal-lg" id="myBtn">Create Notam</button></li>
				
			</ul>
    </div>
    
	<div class="main-page container col-md-9 container">
		
		{% include '_listview.html' %}
    </div>
    
</div>

           
  <!-- Modal -->
<!-- The Modal -->
<div id="myModal" class="modalc">

        <!-- Modal content -->
	<div class="modal-content">
		<span class="close">&times;</span>
		<div id="modalhead">Create NOTAM</div>
		<div class="container">
            <form>
                <div class="container">
                        FIR&nbsp;<label class="switch" for="checkbox">
                            <input type="checkbox" id="checkboxtog" onchange="checkch()"/>
                            <div class="slider round"></div>
                        </label>&nbsp;FACILTY
                </div>
                <div id="fir">
                    <div id = "notamheads" class="container">
                        <label>NOTAM Header</label><br/>
                        <select  id="notam_series">
                                <option value="A">Series A</option>
                                <option value="B">Series B</option>
                                <option value="G">Series G</option> 
                        </select>
                        
                        <input id="notam_no" placeholder="NOTAM NO."/>
                    </div>
                    <br/>
                    <div class="container">
                        <label>Enter the air space affected</label><br/>
                        <input placeholder="AFFECTED FIR" id="fir"/>
                    </div>
                    <div class="container">
                        <label>SCENARIO</label><br/>
                    
                        <select id="scenario">
                                <option value="A">CLOSURE</option>
                                <option value="B">UNSERVICABLE</option>
                        </select>
                    </div>
                    <div class="container">
                            <label>Nature of the event</label><br/>
                    <input placeholder="NATURE" id="nature"/>
                    </div >
                    <div class="container">
                        <label>Coordinates</label><br/>
                        <input placeholder="LATTITUDE" id="latin"/>
                        <input placeholder="LONGITUDE" id="longin"/><br/>
                    </div>
                    <div class="container">
                        <label>Validity Period</label><br/>
                        <input placeholder="STARTTIME" id="stimein"/>
                        <input placeholder="ENDTIME" id="endtimein"/>
                    </div>
                    <div class="container">
                        <label>Remarks</label><br/>
                        <textarea placeholder="REMARK" id="remark"></textarea><br/>
                    </div class="container">
                    
                </div>
                <div id="fac">
                        <div id = "notamheads_fac" class="container">
                                <label>NOTAM Header</label><br/>
                                <select  id="notam_series_fac">
                                        <option value="A">Series A</option>
                                        <option value="B">Series B</option>
                                        <option value="G">Series G</option> 
                                </select>
                                
                                <input id="notam_no" placeholder="NOTAM NO."/>
                        </div>
                        <br/>
                        <div class="container">
                            <label>Enter the name of the facility</label><br/>
                            <input placeholder="FACILITY NAME" id="fir"/>
                        </div>
                        <div class="container">
                            <label>IDENT</label><br/>
                            <input placeholder="IDENT" id="latin_fac"/>
                        </div>
                        <div class="container">
                                <label>Frequency</label><br/>
                                <input placeholder="FREQ" id="freq_fac"/>
                        </div >
                        <div class="container">
                            <label>Coordinates</label><br/>
                            <input placeholder="LATTITUDE" id="latin_fac"/>
                            <input placeholder="LONGITUDE" id="longin_fac"/><br/>
                        </div>
                        <div class="container">
                            <label>Validity Period</label><br/>
                            <input placeholder="STARTTIME" id="stimein_fac"/>
                            <input placeholder="ENDTIME" id="endtimein_fac"/>
                        </div>
                        <div class="container">
                            <label>Remarks</label><br/>
                            <textarea placeholder="REMARK" id="remark_fac"></textarea><br/>
                        </div class="container">
                </div>
                <div id="sbmb">
                        <div  id ="create_notam">Submit</div>
                </div>
                
			</form>
		</div>
		
			
		</form>
	</div>
      
</div>

  <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js'></script>
  <script  src="{{ url_for('static', filename='js/admin/create.js') }}"></script>
 </body>
</html>