<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/admin.css') }}">

	<link rel="stylesheet" href="{{ url_for('static',filename='styles/leaflet.css') }}"/>
	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="{{ url_for('static',filename='js/leaflet.js') }}" ></script>



	<link href="{{ url_for('static',filename='styles/imports/bootstrap4.min.css') }}" rel="stylesheet">
	<link rel='stylesheet' href="{{ url_for('static',filename='styles/imports/bootstrap.min.css') }}">
	<link rel='stylesheet' href="{{ url_for('static',filename='styles/imports/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<link rel='stylesheet' href="{{ url_for('static',filename='styles/imports/sourcesanspro.css') }}">
	<!-- Date Time Picker -->
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/imports/daterangepicker.css') }}" />
</head>
<body>
    
	<nav class="navbar sticky-top navbar-dark mygrad">
			<a class="navbar-brand" href="#">Kiteretsu</a>
			<button class="btn btn-warning my-2 my-sm-0" id="logout">Logout</button>
    </nav>
    <div class="full-page-except-nav" class="row">
    <div class="sidenav bg-dark col-md-3">
			<ul>
				<li><button class="btn bg-success text-light my-sm-0 snli" data-toggle="modal" data-target=".bd-example-modal-lg" id="myBtn">Create Notam</button></li>
				
			</ul>
    </div>
    
	<div class="main-page container col-md-9 ">
		
		{% include '_listview.html' %}
    </div>
    
</div>

           
  <!-- Modal -->
<!-- The Modal -->
<div id="myModal" class="modalc">

        <!-- Modal content -->
	<div class="modal-content">
		<span class="close">&times;</span>
		<div id="modalhead">Create NOTAM</div>
		<div class="tbcm">
            <form>
                <div class="tbc">
                        <span class="shiftup">Airspace&nbsp;</span><label class="switch shiftdown" for="checkboxtog" onclick="checkch()">
                            <input type="checkbox" id="checkboxtog" />
                            <div class="slider round"></div>
                        </label><span class="shiftup">&nbsp;Facility</span>
                </div>
                <br/>
                <div id="firdiv">
                    <div id = "notamheads" class="tbc">
                        <label>NOTAM Header</label><br/>
                        <select  id="notam_series">
                                <option value="A">Series A</option>
                                <option value="B">Series B</option>
                                <option value="G">Series G</option> 
                        </select>
                        
                        <input id="notam_no" placeholder="NOTAM NO."/>
                    </div>
                    <br/>
                    <div class="tbc">
                        <label>Enter the air space affected</label><br/>
                        <input placeholder="AFFECTED FIR" id="fir"/>
                    </div>
                    <div class="tbc">
                        <label>Scenario</label><br/>
                    
                        <select id="scenario">
                                <option value="CLOSURE">CLOSURE</option>
                                <option value="UNSERVICABLE">UNSERVICABLE</option>
                        </select>
                    </div>
                    <div class="tbc">
                            <label>Nature of the event</label><br/>
                    
                    <select id="nature">
                            <option value="PROHIBITED">Prohibited</option>
                            <option value="DANGER">Danger</option>
                            <option value="RESTRICTED">Restricted</option>
                    </select>
                    </div >
                    <div class="tbc">
                        <label>Coordinates</label><br/>
                        <input placeholder="LATTITUDE" id="latin"/>
                        <input placeholder="LONGITUDE" id="longin"/>
                        <i class="fa fa-map-marker" aria-hidden="true" id="mapfa" onclick="maptoggle()"></i>
						<div id = "mappickdiv"><div id = "mappickindiv">
                            <div id="map_picker" style="height:400px;"></div>
                        </div>
                        </div>
                        <br/>
                    </div>
                    <div class="tbc">
                        <label>Validity Period</label><br/>
                        <input placeholder="VALIDITY" id="stimein"/>
                        <!-- <input placeholder="ENDTIME" id="endtimein"/> -->
                    </div>
                    <div class="tbc">
                        <label>Remarks</label><br/>
                        <textarea placeholder="REMARK" id="remark"></textarea><br/>
                    </div >
                    
                </div>
                <div id="fac">
                        <div id = "notamheads_fac" class="tbc">
                                <label>NOTAM Header</label><br/>
                                <select  id="notam_series_fac">
                                        <option value="A">Series A</option>
                                        <option value="B">Series B</option>
                                        <option value="G">Series G</option> 
                                </select>
                                
                                <input id="notam_no_fac" placeholder="NOTAM NO."/>
                        </div>
                        <br/>
                        <div class="tbc">
                            <label>Enter the name of the facility</label><br/>
                            <input placeholder="FACILITY NAME" id="fir_fac"/>
                        </div>
                        <div class="tbc">
                            <label>IDENT</label><br/>
                            <input placeholder="IDENT" id="ident_fac"/>
                        </div>
                        <div class="tbc">
                                <label>Frequency</label><br/>
                                <input placeholder="FREQ" id="freq_fac"/>
                        </div >
                        <div class="tbc">
                            <label>Coordinates</label><br/>
                            <input placeholder="LATTITUDE" id="latin_fac"/>
                            <input placeholder="LONGITUDE" id="longin_fac"/>
                            <i class="fa fa-map-marker" aria-hidden="true" id="mapfa_fac" onclick="maptoggle_fac()"></i>
                            <div id = "mappickdiv_fac"><div id = "mappickindiv_fac">
                                <div id="map_picker_fac" style="height:400px;"></div>
                            </div>
                            </div>
                        </div>
                        <div class="tbc">
                            <label>Validity Period</label><br/>
                            <input placeholder="VALIDITY" id="stimein_fac"/>
                            <!-- <input placeholder="ENDTIME" id="endtimein_fac"/> -->
                        </div>
                        <div class="tbc">
                            <label>Remarks</label><br/>
                            <textarea placeholder="REMARK" id="remark_fac"></textarea><br/>
                        </div>
                </div>
                <div id="sbmb">
                        <div  id ="create_notam">Submit</div>
                </div>
                
			</form>
		</div>
		
			
		</form>
	</div>
      
</div> 

  <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/edit.js') }}"></script>
  <script src="{{ url_for('static', filename='js/imports/jquery-3.3.1.min.js') }}" ></script>
  <script src="{{ url_for('static', filename='js/imports/popper.min.js') }}" ></script>
  <script src="{{ url_for('static', filename='js/imports/bootstrap4.min.js') }}" ></script>  
  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
  <script src="{{ url_for('static', filename='js/imports/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/imports/list.min.js') }}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- For Map files
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script> -->
 <!-- for datetime picker -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/imports/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/admin/daterangepicker.js') }}"></script>
  <script  src="{{ url_for('static', filename='js/admin/create.js') }}"></script>
  <script  src="{{ url_for('static', filename='js/admin/create_fac.js') }}"></script>
  
<script src="{{ url_for('static', filename='js/admin/map_picker.js') }}"></script>

</body>
</html>