<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/admin.css') }}">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
         </head>
    <body>
            <nav class="navbar sticky-top navbar-dark mygrad">
                    <a class="navbar-brand" href="#">Kiteretsu</a>
                    <button class="btn btn-warning my-2 my-sm-0">Logout</button>
            </nav>

            <div class="main-page">
                <div class="sidenav bg-dark">
                    <ul>
                        <li><button class="btn bg-success text-light my-sm-0 snli" data-toggle="modal" data-target=".bd-example-modal-lg" id="myBtn">Create Notam</button></li>
                        
                    </ul>
                </div>

            </div>

           
  <!-- Modal -->
<!-- The Modal -->
<div id="myModal" class="modalc">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <div id="modalhead">Create NOTAM</div>
          <form>
                <input placeholder="NOTAM SERIES."/>
                <input placeholder="NOTAM NO."/>
                <input placeholder="AFFECTED FIR"/>
                <input placeholder="SCENARIO"/>
                <input placeholder="NATURE"/>
                <input placeholder="COORDS"/>
                <input placeholder="TIME"/>
                <input placeholder="REMARK"/><br/>
            <div class = "btn bg-dark text-light" id ="create">Submit</div>
              </form>
        </div>


      
</div>
  <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
 </body>
</html>