.sidenav{
    position:absolute;
    left:0;
    top:0;
    
    
    height: 100vh;
    width:20%;
    box-shadow: 5px 5px 10px #888;
}

.navbar{
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.full-page-except-nav{
    overflow:hidden;
    
}

.main-page{
    padding: 20px;
}

html,body { height:100%; overflow: hidden;}



ul {
    list-style-type: none;
    padding:10%;
  }

  .mygrad{
    background: -moz-linear-gradient(45deg, rgba(0,12,79,1) 0%, rgba(47,128,113,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,12,79,1)), color-stop(100%, rgba(47,128,113,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(0,12,79,1) 0%, rgba(47,128,113,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(0,12,79,1) 0%, rgba(47,128,113,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(0,12,79,1) 0%, rgba(47,128,113,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(0,12,79,1) 0%, rgba(47,128,113,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2F8071', endColorstr='#000C4F',GradientType=1 ); /* ie6-9 */
  
    
}

  .snli{
      width:100%;
  }




 

  /* The Modal (background) */
  .modalc {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1021; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    top:50%;
    left:50%;
    z-index: 1022;
    transform: translate(-50%, -50%); 
    padding: 20px;
    border: 1px solid #888;
    width: 60% !important;
    transition: display .5s ease;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  #modalhead{
      margin:auto;
      font-size:2rem;

  }

  #notam_series, #notam_series_fac{
      width:40%;
      margin: auto; 
  }

  #notam_no, #notam_no_fac{
      margin:auto;
      width:40%;
  }

  input, textarea, select{
      padding: 5px;
      border:none;
      border-bottom: 2px solid #888;
      transition: border 1s ease;
      min-width:100px;
  }
  tbc:checked + .slider {
    background-color: #66bb6a;
}
.slider.round {
    border-radius: 34px;
}
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

  input:hover{
    
    border-bottom: 2px solid #005;
}

select:hover{
    border-bottom: 2px solid #005;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #005;
}

textarea:focus {
    outline: none;
    border-bottom: 2px solid #005;
}
select:focus{
    outline: none;
    border-bottom: 2px solid #005;
}
textarea:hover{
    
    border-bottom: 2px solid #005;
}

  select{
      padding: 10px;
  }

  textarea{
      width: 90%;
      
     
  }
  #sbmb{
    
    width:100%;
}

#create_notam{
    padding:0.1rem;
    margin: 1rem auto;
    border-radius : 30px 30px;
    border-style: solid;
    border-width: 2px;  
    border-color: rgb(0, 34, 98);  
    color:rgb(0, 34, 98);
    font-size:1.6rem;
    width:40%;
    transition: background-color 1s;
    text-align: center;
}
#create_notam:hover{
    background-color: rgb(0, 34, 98);
    color:#fff;
    cursor: pointer;
}

#create_notam:focus{
    background-color:rgb(0, 34, 98);
    color:#fff;
    cursor: pointer;
}

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
#fac{
    display:none;
    
}
#firdiv > * {
    margin: 15px 0;
}
#fac > * {
    margin: 15px 0;
}
.shiftup{
    padding:5px;
}
.shiftdown{
    margin-bottom: -10px;
}
.tbcm{
    width:90%;
    margin:auto;
}
.tbc{
    width:90%;
}

#mappickdiv, #mappickdiv_fac{
    
    position: absolute;
    width: 50%;
    height: 0;
    display:none;
    
}

#mappickindiv, #mappickindiv_fac{
    
    position: relative;
    
    background-color:white;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888;
    top: -20vh;
    left: 50%;
    width: 100%;
    padding: 5px;
}

#mapfa, #mapfa_fac{
    cursor:pointer;
}

#stimein, #stimein_fac{
    width:50%;
}

#logout{
    position: absolute;
    right: 20px;
}

td{
    padding: 5px !important;
    padding-top: 0 !important;
    padding-bottom:0 !important;
}