body {
    font-family: 'Source Sans Pro', sans-serif;
  }
  h1 {
    text-align:center;
  }
  .row {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .photo {
    border-radius: 45px;
    margin-right: 20px;
    width: 90px;
    height:90px
  }
  .form-control { 
    width:30%;
    display: inline-block;
    margin-right:10px;
  }
  .name {
    font-weight: 700;
  }
  .expertise-label {
    display:block;
    font-weight: 700;
    margin-top:10px;
  }
  .btn-more {
    margin-top:10px;
    width: 100%
  }
  .label {
    font-weight: normal;
  }