.content_vis{
    height: 0px;
    width: 100%;
    display: none;
    background-color: #fff;
}

.magicopen{
    height: auto;
    display: block;
    transition: 0.5s;
}

td{
    padding-right: 5px !important;
    font-size: 2rem;
}


